<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  
           <title>Test</title>
         	   
  <%= javascript_include_tag 'jquery-1.4.4.js' %>
  <script type="text/javascript" src="/javascripts/jquery.jqplot.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.jqplot.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqplot.pieRenderer.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqplot.canvasTextRenderer.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqplot.pieRenderer.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqplot.jqplot.barRenderer.js"></script>
  <script type="text/javascript" src="/javascripts/jqplot.categoryAxisRenderer.min.js"></script>

  <%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready(function(){
  $("div").mouseover(function(){
    $(this).focus("slow");
     $("div").css("background-color","#8DB600");
    
  });
$("div#n").mouseover(function(){
    $(this).focus("slow");
    
  });
$("div#s").mouseover(function(){
    $(this).focus("slow");
  
  });

$("div#e").mouseover(function(){
    $(this).focus("slow");
  
  });
});
</script >



  
</head>
<body>

      <div align="center";background-color:#b0c4de; style="width=1024px; height=100px;background-color:#FF8C00"><h1 style="align:center">SHANDERS </h1></div>

 <div style="width=1024px; height=400px;"> 
   <table style="width=1024px; height=400px;">

    <tr style="width=1024px; height=400px;">
     <td style="width=512px; height=400px;"><img src="http://comps.fotosearch.com/comp/WTD/WTD239/girl-4-7-holding_~WESTF04548.jpg"/></td>
     <td style="width=512px; height=400px;">
    <%= yield %>

     </td>
   </tr>
</table>
</div>
</body>
</html>
